.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(auto-fit,
      minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr));
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}


.hero {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.heading{
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 1rem;
  line-height: 1;
  
}
.subheading{
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.75rem;
  margin: 0 0 1.5rem;
}


@keyframes jiggle {
  0%, 100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }
}

.heroText button:hover {
  animation: jiggle 0.5s infinite;
  background-color: #FF8C00;
}

.buttons {

  display: flex;
  justify-content: center;
  gap: 20px;

}

.button {
  font-family: var(--font-sans);
  background-color: #FFA500;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;

}

.buttonWork {
  font-family: var(--font-sans);
  background-color: transparent;
  border: 2px solid #FF8C00;
  color: #FF8C00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.buttonWork:hover {
  animation: jiggle 0.5s infinite;
  background-color: #FF8C00;
  color: var(--color-text);

}